{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}

  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Комментарий</th>
      <th>Ссылка на админку</th>
    </tr>
    {% for order, restaurants in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.get_payment_type_display }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>
          {% if order.status == process_status %}
            <details>
              <summary>Может быть приготовлен:</summary>
              <ul>
                {% for restaurant, distance in restaurants %}
                  <li>{{ restaurant.name }} - {{ distance }}</li>
                {% endfor %}
              </ul>
            </details>
          {% else %}
            Готовит: {{ order.processing_restaurant.name }}
          {% endif %}

        </td>
        <td>{{ order.comment }}</td>
        <td><a href="{% url 'admin:foodcartapp_order_change' order.id %}?next={{ request.build_absolute_uri|urlencode }} ">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
